<div class="card" style="width: 18rem;">
  <%= image_tag product.image, :class => "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">CDN$<%= product.price %></h6>
    <p class="card-text"><%= product.description %></p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>